.header {
  border: solid 1px black;
  height: 100px;
}

.vertical {
  border: solid 1px black;
  height: 100%;
  flex-grow: 1;
}

body {
  font-size: 0;
}
.main {
  display: flex;
  justify-content: space-between;
  border: solid 2px red;
  height: 500px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.verticalLeft{
    flex-grow: 2;
}
.verticalRight {
    display: flex;
    flex-grow: 6;
    flex-direction: column;
}

.central,.centralRight {
border: solid 2px black;
}

.centralRight {
    flex-grow: 1;
    }

    .central {
        flex-grow: 2;
    
    }
    .bottom {
        display: flex;
        flex-grow: 3;
    }
    .top,.bottom {
        border: solid 2px red;
    }
.top {
    flex-grow: 2;

}
}
